{% load static %}
<section id="testimonial" class="testimonial section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
            
            <!-- Template dos Testemunhos -->
            {% for t in testemunhas %}
            <div class="item">
              <div class="testimonial-item">
                <div class="img-thumb">
                  <img src="{{ t.imagem.url }}" alt="{{ t.nome }}">
                </div>
                <div class="info">
                  <h2><a href="https://www.linkedin.com/in/guilherme-bracero-8a132b20b/">{{ t.nome }}</a></h2>
                  <h3><a href="https://www.linkedin.com/in/guilherme-bracero-8a132b20b/">{{ t.cargo }}</a></h3>
                </div>
                <div class="content">
                  <p class="description">{{ t.descricao }}</p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>